.header {
    height: 60px;
    border-bottom: lightgray solid 0.1px;
    background: linear-gradient(#00BAD8 0%,#018BF1 99%);
    display: flex !important;
    justify-content: center;
    position: sticky;
}

.container {
    width: 1000px;
    align-items: center;
    padding: 0 50px;
}

a {
    text-decoration: none;
}

h2 {
    color: #E6E6E6;
}

.header__right {
   display: flex;
}

